body {
  margin: 0;
  font-family: 'Poppins', system-ui, sans-serif;
 background-color: #0F172A;
  color: #F1F5F9;
}

a {
  font-weight: 500;
  color: #111;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #FF4D00; 
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #FF4D00; 
}


button {
  border-radius: 10px;
  border: 2px solid #22D3EE;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  color: #22D3EE;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #22D3EE;
  color: #0F172A;
  box-shadow: 0 0 15px #22D3EE;
}

.cart-container{
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-container svg{
  color: white;
  transition: transform 0.2s;
}

.cart-container svg:hover{
  transform: scale(1.15);
}

.cart-badge{
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 60px;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 26px;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #22D3EE;
  transform: scale(1.2);
}